 <!DOCTYPE html>
<html>
  <head>
    <title>Coherence File Ingest</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#563d7c">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

      <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      } 
    </style>

    
  </head>
  <body>
  
   <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Coherence</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</nav>
 
 <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h2 class="display-3">Welcome to Coherence Data Platform!</h2>
          <p>This is a disease data platform. It includes a large set of diseases linked with respective symptoms and organs. It can be used to connect diseases, symptoms and organs together to provide variety of helpful services.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Diseases</h2>
            <p>Explore <strong>107453</strong> diseases with their related attributes. Each of these diseases are linked to respective symptoms and organs along with population groups and age groups.</p>
            <p><a class="btn btn-secondary" href="/diseases" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Symptoms</h2>
            <p>Nothing here right now. </p>
            <p><a class="btn btn-secondary" href="#" role="button">Coming soon &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Organs</h2>
            <p>Nothing here right now.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Coming soon &raquo;</a></p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>

    <footer class="container">
      <p>&copy; Coherence Data Platform</p>
    </footer>
    
 </body>
</html>