<html><head><title>{title}</title></head><body><div class="content"><h4>$client $subject_area $event </h4>

<div class="table-responsive">
        <table class="table table-bordered table-hover table-responsive cellspacing="2" cellpadding="2">
          <tbody>
            <tr>
              <th scope="row" align="left">Filename</th>
              <td>filename.csv</td>              
            </tr>
            <tr>
              <th scope="row" align="left">Client</th>
              <td>Molina</td>              
            </tr>
             <tr>
              <th scope="row" align="left">Subject Area</th>
              <td>Tag</td>              
            </tr>
             <tr>
              <th scope="row" align="left">Status</th>
              <td>Ingested Successfully</td>              
            </tr>
           </tbody>
          </table>
</div><div class="footer" style="margin-top: 10px;"><p style="font-size: small; color: #777;">This email was sent from Cogitativo Data Engineering</p></body></html>